header{
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50%;
}
a {
    color: #000000;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
  }
  
  .hamburger1 {
    height: 45px;
    margin: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: left;
    z-index: 120;
  }
  
  .hamburger1 div {
    background-color: rgb(61, 61, 61);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 340px;
  }
  .menu1 {
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 0,1px;
    padding: 0;
    list-style: none;
    clear: both;
    width: 15%;
    text-align: left;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
body{
    
    margin: 0;
    padding: 0;
    background-color: rgb(198, 200, 105);
    font-family: 'open sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: rgb(0, 0, 0);
    text-align: center;
}
.active {
    background-color: black;
    color: hwb(0 100% 0%);
}

.image {
    max-height: 50%;
    max-width: 50%;
}
.form__input {
    display: block;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(6, 69, 3);
    padding: 1rem 1.5rem;
    margin: 2em;    
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 1rem 1.5rem;
    margin: 2em;  
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    padding: 1rem 1.5rem;
    margin: 2em;  
}
h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 222, 10);
    padding: 1rem 1.5rem;
    margin: 2em;  
}
.fields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radio-buttons{
    display: flex;
    justify-content: center;
}
.radio{
    padding: 0 1rem;
    display: flex;
    flex-flow: column-reverse;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 37px auto 0;
    width: calc(280px * 4);
  }
  
  .card {
    box-shadow: 0 3px 10px 0 #484848;
    cursor: pointer;
    height: 575px;
    position: relative;
    width: 250px;
  }
  
  .card h2 {
    font-size: 20px;
    font-weight: bold;
  }
  
  .card.visited {
    box-shadow: 0 3px 10px 2px #444;
  }
  
  @media (max-width: 1100px) {
    .cards {
      grid-template-columns: 1fr 1fr;
      width: calc(280px * 2);
    }
    .card {
      margin: 0 auto 2rem;
    }
  }
  
  @media (max-width: 768px) {
    .cards {
      display: block;
      width: 100vw;
    }
    .card {
      margin: 0 auto 2rem;
    }
  }
footer::before,
footer::after {
    color: rgb(198, 200, 105);
    font-size: 30%;
}


